.pageBodyRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(112, 111, 111);
  padding: 5px;
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.pageBodyRight > .rightHead {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  color: white;
}

.pageBodyRight > .rightHead > .MuiSvgIcon-root {
  cursor: pointer;
  border-radius: 15px;
  margin-right: 20px;
  background-color: rgb(46, 46, 46);
}

.pageBodyRight > .rightHead > .rightHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageBodyRight > img {
  border-radius: 20px;
  margin-top: 15px;
}

.rightBottom {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(49, 49, 49);
  justify-content: space-between;
  height: 100%;
  width: 98%;
}

.rightBottom > .rightBottomHead {
  background: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
}

.rightBottom > .rightBottomHead > .MuiSvgIcon-root,
h3 {
  background: transparent;
}

.user {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.user > .userLeft {
  color: white;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

.user > .userLeft > .userDetails {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.user > .userLeft > .userDetails > small > .applied__for {
  color: rgb(8, 204, 253);
  background: transparent;
}

.user > .userLeft > .userDetails > small {
  background-color: transparent;
}

.user > .userLeft > .userDetails > h5 {
  background: transparent;
}

.user > .userLeft > .MuiSvgIcon-root {
  background: transparent;
  margin: 10px;
  cursor: pointer;
}

.user > .userRight {
  color: white;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.user > .userRight > .MuiSvgIcon-root {
  cursor: pointer;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(109, 108, 108);
}
