.pageRightdisp {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  height: 100%;
}

.right__head {
  flex: 0.07;
}

.right__body {
  flex: 0.92;
}

@media only screen and (max-width: 1516px) {
  .right__body {
    display: none;
  }

  .right__head {
    display: none;
  }
}
