.pageHeader__down__left {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 38px;
}

.pageHeader__down__left > h3,
h5 {
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
}

.pageHeader__date {
  color: rgb(8, 204, 253);
  cursor: pointer;
}

.logo {
  display: none;
}

.userdet {
  display: none;
}

@media only screen and (max-width: 1516px) {
  .pageMob {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-left: 4%;
    width: 75%;
  }

  .userdet {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 10px;
  }
}
