.pageRightHeader {
  display: flex;
  flex-direction: column;
}

.pageHeader__top {
  display: flex;
  padding: 5px;
  margin-left: 45%;
  align-items: center;
}

.pageHeader__top > p {
  color: white;
  padding-left: 10px;
  padding-right: 20px;
}

.pageHeader__top > .MuiSvgIcon-root {
  margin: 5px;
  cursor: pointer;
  color: white;
  background: transparent;
}

.pageHeader__down__right {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}

.pageHeader__down__right > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(8, 204, 253);
  color: white;
  cursor: pointer;
  border: none;
}

.rightbox:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(8, 8, 8, 0.2);
}

.right__add__member {
  background: none;
}

.rightbox > span {
  background: none;
}

.pageHeader__search {
  display: flex;
  align-items: center;
  color: white;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  border-radius: 5px;
  width: 90%;
  height: 47%;
}

.pageHeader__search > .MuiSvgIcon-root {
  background: none;
  padding-right: 30px;
  cursor: pointer;
}

.pageHeader__search > input {
  background-color: transparent;
  outline-width: 0;
  border: none;
  font-size: larger;
}

@media only screen and (max-width: 1516px) {
  .pageHeader__down__right {
    display: none;
  }
}
