.pageBodyLeftMiddle {
  display: flex;
  margin-left: 1%;
  margin-right: 0.5%;
}

.lineChart {
  display: flex;
}

.linerProgress {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 20px;
  padding: 15px;
  margin-left: 2.3%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-around;
}

.linerProgress > h4 {
  color: white;
  font-weight: bold;
}

.linerProgress > .progressbars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linerProgress > .progress1 {
  color: rgb(147, 173, 182);
}

.linerProgress > .progress2 {
  color: rgb(31, 199, 255);
}

.linerProgress > .progress3 {
  color: rgb(253, 30, 0);
}

.linerProgress > .progress4 {
  color: rgb(238, 159, 238);
}

.linerProgress > .progress5 {
  color: rgb(166, 61, 180);
}

.chartBox {
  display: flex;
  flex-direction: column;
  flex: 0.67;
  padding: 15px;
  justify-content: center;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 20px;
  margin: 10px;
  max-width: 70%;
}

.chartBox > .chartHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  margin-bottom: 5px;
}

.chartRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartRight > .MuiSvgIcon-root {
  margin: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 1516px) {
  .pageBodyLeftMiddle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .chartBox {
    max-width: 85%;
  }

  .linerProgress {
    width: 85%;
    margin: 0;
  }
}
