* {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}

.app {
  display: flex;
  justify-content: center;
}

.app > .left {
  flex: 0.05;
  margin-left: 2%;
  left: 0;
}

.app > .right {
  flex: 0.6;
}

.app > .rightMost {
  flex: 0.3;
}
